html {
  margin: 0;
  background-color: gray;
}

main {
  display: flex;
  margin: 0 auto;
  width: 95%;
  justify-content: space-around;
  text-align: center;
  background-color: antiquewhite;
  background-color: white;
}

.post_section {
  background-color: antiquewhite;
  margin: 10px;
}

.box_of_posts {
  display: flex;
  flex-direction: column;
}

.post_box {
  background-color: aqua;
  flex: 1;
  margin: 20px calc(10px + 2vw);
  padding: 10px;
  display: flex;
  align-items: center;
}

img {
  width: 120px;
  height: 180px;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
  }

  .box_of_posts {
    margin: 10px auto;
    width: 90%;
    /*background-color: blueviolet;*/
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .post_box {
    min-width: 90%;
    scroll-snap-align: start;
    margin: 10px;
  }
}
