html {
  margin: 0;
  color: gray;
  background-color: black;
}

/*making two big flex elements and limiting their size to not annoy the end user*/
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.top_component {
  position: sticky;
  top: 0;
  background-color: rgb(40, 39, 39);
  text-align: center;
}

nav {
  border-bottom: 2px solid black;
}

nav h1 {
  margin: 7px auto;
}

.searchbar {
  border-bottom: 2px solid gray;
}

.searchbar h2 {
  margin: 5px auto;
}

/*making main a big row flexbox component*/
main {
  flex: 1;
  padding: 15px calc(1vw + 5px) 20px calc(1vw + 5px);
  text-align: center;
  display: flex;
  align-content: space-between;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

/*Creating many column flexboxes, every direct child is a flexbox*/
.section {
  margin: 0 10px;
  flex: 1 1 300px;
  min-width: 270px;
  /*max-height: 100vh;*/
  overflow-y: auto;
}

/*Giving the "headers" a margin* and a sticky position*/
.header_box {
  min-height: 120px;
  margin-bottom: 20px;
  position: sticky;
  top: 0px;
  border: 2px solid black;
  overflow: hidden;
}

.scroll_box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  gap: 12px;
}

/*creating boxes around "tags"*/
.element {
  background-color: rgb(40, 39, 39);
  border-radius: 10px;
  min-height: 100px;
}
